// _header.scss
@keyframes infRoll {
  0% { transform: translate(-50%, -1rem) rotateY(0); }
  100% { transform: translate(-50%, -0.8rem) rotateY(180deg); }
}

@keyframes infRoll2 {
  0% { transform:  rotateY(0); }
  100% { transform:  rotateY(180deg); }
}
// @keyframes infRoll3 {
//   0% { transform:  rotate(0); }
//   100% { transform:  rotate(180deg); }
// }


.head_wrap { position: relative; width: 100%; height: auto; position: fixed; top: 0; left: 0; z-index: 1000; 
  background-color: rgba($black, 0.85);
  box-shadow:0 0.2rem 0.1rem 0.05rem $black;
  &:after, &::after {
    content:" "; display: block; position: absolute; z-index:-1; top:0; left:0; width: 100%; height: 100%;
    @include bg($z:cover) { background-image: url('../img/header/header_bg.png'); 
    opacity:0.75;}
  }
}
#headBox{position:relative; margin:auto; padding: 10px; box-sizing: border-box; width: 100%; max-width:1280px; height: 85px; }

// @include device($pcbase){
  h1{float:left; width:150px; height:70px; // margin-left:-15px;
    >a{background-image: url('../img/heroes9_logo.svg'); background-repeat: no-repeat; background-position: 50% 50%;
    &:focus,&:hover{outline:0; transform:scale(1.2); background-image: url('../img/heroes_logo.png'); background-size: contain; filter:drop-shadow(0 0 0.7rem $white)}
   }
  }
  #gnb{float:right; width: 900px; height:auto; padding:5px; padding-top: 10px; box-sizing: border-box;
    @include device(1200px){width:700px;}
     a:focus{outline: 0;}
    .handheld{display: none;}
    .menu{margin:auto; padding:10px; box-sizing: border-box; width: 100%; max-width:1280px; font-size:1.4rem;
      >li{float:none; display:inline-block; margin-right:20px; width:auto; height:auto;  text-align: center;}
      >.action  a, a:hover {color:$primary; position:relative;
        &:before,&::before{content:" "; display:block; position:absolute; bottom:50%; left:50%; 
          /* transform:translate(-50%, -1.2rem); */ width:0.8rem; height:1.4rem; 
        animation:infRoll 1.5s infinite alternate;
        background-image: url("../img/header/SVG/nav_point.svg"); background-position: 50% 50%; background-repeat: no-repeat;}
        &:after, &::after {content:" "; display:block; position:absolute; top:80%; left:10%; width:80%; height:4px; 
        background-image: url("../img/header/SVG/line_t3.svg"); background-repeat: no-repeat; background-position:50% 50%;}
      }
      >.impack_check {position: absolute; top: 0; right: 0; margin-right: 0;
        >a{float:right;  line-height:56px; width: 100%; height:65px; font-weight:700; background-color: $red;
          &:focus{ background-color: $primary; color:$red;  
            &:before,&::before{content:" "; display: none;}
             >i { animation: infRoll2 1.5s infinite alternate; }
          }
        }
        .icon_key{background-image: url("../img/header/SVG/res_point.svg");}
      }
      a{display:inline; color:$white; padding:12px;}
    }
  } // #gnb 
// } // @include device($pcbase)


@include device($tablet) {
  #headBox{width: 100%; height: 60px; }
  h1{position:absolute; left:50%; top:50%; transform:translate(-50%, -50%); width:6rem; height:3rem; 
    >a{background-image: url('../img/heroes9_logo.svg'); background-repeat: no-repeat; background-position: 50% 50%;}
  }
  #gnb{float:left; width: 40px; height: 40px; padding:5px; box-sizing: border-box;
    > .handheld{display:block; width: 100%; height: 100%;
      > .menu_bar {position:relative; z-index:100; background: transparent;
        &:focus{outline:0}
        i{display:block; position: absolute; width:70%; top: 50%; left:0; transform:translateY(-1px); border-top:2px solid #fff; transition:all 0.3s ease;
        &:before, &::before{content:" "; display:block; position: absolute; top:-14px; left:0; width:150%; border-top:2px solid #fff; transition:all 0.3s ease;}
        &:after, &::after{content:" "; display:block; position: absolute; top:10px; left:0; width:150%; border-top:2px solid #fff; transition:all 0.3s ease;}
        }
      }
      &.action{
        >button i{
          border-color:transparent; 
          &:before, &::before{content:" "; border-color:$primary; transform-origin:0 0; top:0; transform:translateY(-1rem) scale(1.3) rotate(42deg); }
          &:after, &::after{content:" "; border-color:$primary; transform-origin:0 100%; bottom:0; transform:translateY(0.1rem) scale(1.3) rotate(-42deg); }
        }
        &+.menu_wrap{display: block; margin-top:50px;
          >.menu{
          >li{display:block; position: relative; text-align: left; margin-bottom: 2.5rem; background-color: transparent; font-size:2rem; font-weight:bold;
            >a{display:inline; float:none; padding:1rem; padding-right:5rem;}
            &.action, &:focus, &:hover{
              a:before,a:before{content:" "; width:5rem; height:2.5rem; top:50%; left:-3.5rem; transform:translateY(-50%) rotate(-90deg); animation:none;}
              a:after,a:after{content:" "; display: none; background-image: none;}
            }
          } 
        }
      }
      }
    } // .handheld
    .menu_wrap {display: none; position:fixed; width: 100%; height: 100%;  top: 0; left: 0;  padding:5rem 2.5rem; overflow: scroll;
      @include more(before) {position: absolute; top: 0; left: 0; z-index: -1; width: 100%; height: 100%; background-color:$opBlack;}
      @include more(after){position: absolute; top: 0; left: 0; z-index: -2; width: 100%; height: 100%;  @include bg($z:cover, $p:50% 50%){ background-image: url('../img/header/menu_bg.jpg');}
    }
      > .menu{ position:relative; width: 100%; height:auto; padding-bottom:15rem;}
    }
  }//#gnb 
}// @include

// @include device(360px){
//   .menu{padding:1rem;}
// }

