#registration .modal{
  position: fixed; width: 100%; height: 100%; top: 0; left: 0; z-index: 2000;
  // background-color: #fff;
  @include more(before){
    position: absolute; z-index: -1; top: 0; left: 0;
    width: 100%; height: 100%; background-color: $opBlue;
  }

  .modal_box{position: absolute; top:50%; left:0; right: 0; z-index:100;
    transform:translateY(-50%);
    margin: auto; padding:1rem; background-color: $blue; box-sizing: border-box;
    border-radius:0.1rem;
    width:95%; max-width: 600px; height:auto; min-height: 200px; max-height:600px; box-shadow:0.5rem 0.5rem 0.7rem $black;
    .logo{margin:auto; width: 60%; height:100px; @include bg;
        background-image: url('../img/heroes9_logo.svg'); 
        margin-bottom: 0.2rem; 
    }
  }

  // base μ„Έν…
  .modal_set{width: 100%; height:auto; 
    font-size:1.4rem; 
    p{font-size:inherit; color:inherit; margin-bottom: 0; margin-top: 0;
      padding:1rem 0; letter-spacing:0.1rem; font-weight:400; color:$primary;} 
    #phone_num{width: 100%; height: 2rem; line-height: 2rem; border-bottom:2px solid #fff;
      font-size:2rem; margin-bottom: 0.7rem; color:$white;}
    .btn{margin:auto; margin-top:0.5rem; width:90%; height:4.5rem; text-align: center;
      button{height: 4rem; box-sizing: border-box; border-radius:0.3rem;
        
        margin:0 0.4rem; font-size: 2rem; box-shadow:0.05rem 0.05rem 0.05rem $opBlue;}
      button[type="reset"]{width: 32%; background-color: $primary; color:$black;}
      button[type="submit"]{width: 53%; background-color: $red; font-weight: bold;}
      button[type="button"]{width: 55%; background-color: $red; font-weight: bold;}
    }
  }
}

.modal{display: none;}
// #send,
// #etc,
// #good{display: none;}

.modal.view,
.modal.view,
.modal.view {
  display: block;
}

// .send_message{display: none;}
// .etc_message{display: none;}
// .good_message{display: none;}